# Python Bytecode
__pycache__/
*.py[cod]

# Environment variables
.env
.env.local
.env.*.local

# Database files

# Static files

# Media files

# IDE and Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Coverage reports
.coverage
coverage.xml
*.cover

# Migrations
*/migrations/*.py
*/migrations/*.pyc
*/migrations/__init__.py

# Testing
*.egg-info/
dist/
build/

# Pytest
.cache

# Jupyter Notebook
.ipynb_checkpoints

# Miscellaneous
*.DS_Store
*.swp
